/* You can add global styles to this file, and also import other style files */
body {
  background-color: aquamarine;

}

.title {
  text-align: center;
}
li {
  display: block;
  padding: 10px 0 0 0;
  background-color: aliceblue;
}
